
<%- include('header'); -%>

<form method="post">

    <table>

        <tr>
            <td>Model : </td>
            <td>
                <input type="text" placeholder="Enter Model" name="boat_name"> </td>
        </tr>



            <td>Price :</td>
            <td>
                <input type="text" placeholder="Enter Price" name="boat_price" >
            </td>
        </tr>


        <tr>

            <td>
                <input type="submit">

            </td>
        </tr>
    </table>


</form>

<h1>csc</h1>