
<%- include('header'); -%>

<form method="post" >

    <table>

        <tr>
            <td>Model : </td>
            <td>
                <input type="text" placeholder="Enter Model" name="boatName" required> 
            </td>
        </tr>

        <tr>
            <td>Price :</td>
            <td>
                <input type="text" placeholder="Enter Price" name="boatPprice" required>
            </td>
        </tr>   

        <tr>
            <td>
                <input type="submit" value="search">    
            </td>
        </tr>
    </table>

</form>


